.farsan-regular {
    font-family: "Farsan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
  max-width: 1280px;
  margin: 50px 100px;
}
header{
  background-color:rgb(247, 196, 196);

}

  /* header section */
  .nav{
    display: flex;
    justify-content: space-around;

position: sticky;
top: 0;
background-color:rgb(247, 196, 196);


}
.nav-bar {
list-style-type:none;
display: flex;
gap: 50px;
margin-top: 63px;

}

.nav-bar a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.arc{
  margin-top: 50px;
}

.banner{
  display: flex;
  flex-direction: column;

 align-items: center;
}
.header-img{
  width: 80%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 45px;
}
.header-h1{
  font-size: 90px;
  font-weight: 700;
  height: 225px;
  width: 50%;
  text-align:center;
  margin-bottom: 0px;
  /* justify-items: center; */
}
.header-p{
  text-align:center;
  width: 60%;
  font-size: 16px;
  height: 26px;
  text-align: center;
  margin-top: 0px;
color: rgb(114, 114, 114);
}
.header-button{
  height: 64px;
  width: 180px;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10px;
color: white;
font-weight: 900;
font-size: 16px;
margin-top: 30px;
margin-bottom: 30px;
padding: 10px;
}

@media screen and (max-width:576px) {

  .nav{
    font-size: 18px;

    justify-content: space-around;



}
.nav-bar {

margin-top: 53px;
gap: 10px;


}


body{margin: 0px;}


.header-h1{
  font-size: 50px;
  font-weight: 700;
  height: 150px;
  width: 80%;
  text-align:center;
  margin-bottom: 0px;


}

.header-p{
  text-align:center;
  width: 80%;
  font-size: 15px;

  text-align: justify;
  margin-top: 0px;

}

.header-button{
  height: 32px;
  width: 90px;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10px;
color: white;
font-weight: 450;
font-size: 12px;
margin-bottom: 20px;
padding: 5px;

}


.header-img{
  width: 80%;
  height: 200px;
  margin-top: 0px;

}




}








@media screen and (min-width:576px) and (max-width:992px) {

  .nav{
    font-size: 18px;

    justify-content: space-around;



}
.nav-bar {

margin-top: 53px;
gap: 10px;

}
body{margin: 0px;}


.header-h1{
  font-size: 50px;
  font-weight: 700;
  height: 150px;
  width: 80%;
  text-align:center;
  margin-bottom: 0px;


}

.header-p{
  text-align:center;
  width: 80%;
  font-size: 15px;

  text-align: justify;
  margin-top: 0px;

}

.header-button{
  height: 32px;
  width: 90px;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10px;
color: white;
font-weight: 450;
font-size: 12px;
margin-bottom: 20px;
padding: 5px;

}


.header-img{
  width: 80%;
  height: 300px;
  margin-top: 0px;

}
}



/* header styling done */



/* main style */


.first-main-1{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.first-main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
gap: 76px;

padding: 50px;


}

.feature{

font-size: 45px;
font-weight: 700;
line-height: 53px;

text-align: left;
margin-bottom: 30px;

}



.main-p{
  margin-top: 0px;
color: rgb(114, 114, 114);
text-align: justify;
margin-bottom: 0px;
}

.main-first-button{
margin-top: 0px;
  height: 64px;
  width: 180px;
  border: 2px solid black;
  background-color: orange;
  border-radius: 10px;
color: white;
font-weight: 900;
font-size: 16px;
margin-top: 30px;
margin-bottom: 30px;
padding: 10px;

}


.first-main-2{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}



/* for small device */


@media screen and (max-width:576px) {

  body{margin: 0px;}

 
  .first-main{ 

    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
  gap: 0px;
  
  padding: 0px;

  
  }
  

  .feature{

    font-size: 45px;
    font-weight: 700;

    
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    
    }
    


  .first-main-1{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;


  }




  .first-main-1 img {
    width: 100%;   
    height: auto;  
  }

  
  .main-p{

margin-left: 10%;
margin-right: 10%;
  text-align: justify;
width: 80%;




  }
  
  .main-first-button{


    height: 32px;
    width: 90px;
    border: 2px solid black;
    background-color: orange;
    border-radius: 10px;
  color: white;
  font-weight: 450;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px;


margin-left: 175%;
    }

      }